.site-layout-content {
    background: #fff;
    padding: 24px;
    min-height: 280px;
}

.site-statistic-demo-card {
    background: #ececec;
    padding: 30px;
}

.site-page-header {
    background-color: #282c34 !important;
}

.ant-page-header-heading-title,
.ant-page-header-heading-sub-title {
    color: whitesmoke !important;
}

.ant-table-content {
    overflow-x: auto;
}
